<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Tickets</title>
</head>
<body>

    <div layout:fragment="content">
        <div>
            <h2 th:text="|Account for user ${user.name}|"/>
            <h4 th:text="|Current amount: ${userAccount.getAmount()}$|"/>
        </div>

        <hr/>
        <h3>Modify money amount</h3>
        <form th:action="@{/user/account}" th:object="${userAccount}" method="post">
            <input type="hidden" name="userid" th:value="${user.id}"/>
            <input type="hidden" th:field="*{id}"/>
            <label th:for="amount">Money</label>
            <input type="text" th:field="*{amount}" /> <br/>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <br/>
        <a href="#" th:href="@{/}" th:text="'Main'"/>
    </div>

</body>
</html>