<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Tickets</title>
    <style>
        table {
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            text-align: left;
            background: #ccc;
            padding: 5px;
            border: 1px solid black;
        }
        td {
            padding: 5px;
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <div layout:fragment="content">
        <div>
            <h2>!!Book ticket!!</h2>
            <h4 th:text="|Event: ${plannedEvent.event.name}|"></h4>
            <h4 th:text="|Time: ${plannedEvent.dateTime}|"></h4>
        </div>


        <form th:action="@{/tickets/book}" method="post">
            User id: <input type="text" class="form-control" name="userid"/><br/>
            Seat: <input type="text" class="form-control" name="seat"/><br/>
            <input type="hidden" name="peventid" th:value="${plannedEvent.id}"/>

            <input class="btn btn-primary" type="submit" value="Book"/>

        </form>




        <br/>
        <a href="#" th:href="@{/}" th:text="'Main'"/>
    </div>

</body>
</html>