<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Error</title>
</head>
<body>

    <div layout:fragment="content">
        <h3>Error</h3>
        <div th:text="${error}"></div>
        <div th:if="${#strings.isEmpty(error)}" th:text="${exception}"></div>

        <br/>
        <a href="#" th:href="@{/}" th:text="'Main'"/>



         <div style="display: none" >
             <div th:each="ste : ${exception?.stackTrace}" th:text="${ste}"></div>
         </div>
    </div>

</body>
</html>