<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Tickets</title>
</head>
<body>

    <div layout:fragment="content">
        <div>
            <h2>!!Events!!</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Base price</th>
                    <th>Rating</th>
                    <th>Dates</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.id}"></td>
                    <td th:text="${event.name}"></td>
                    <td th:text="${event.basePrice}"></td>
                    <td th:text="${event.rating}"></td>
                    <td>
                        <ul th:each="plannedEvent : ${plannedEvents[event.id]}">
                            <li>
                                <a href="#" th:href="@{/tickets(eventid=${event.id}, datetime=${plannedEvent.dateTime})}" th:text="${plannedEvent.dateTime}"/>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>

        </table>

        <br/>
        <a href="#" th:href="@{/}" th:text="'Main'"/>
    </div>
</body>
</html>