<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Tickets</title>
</head>
<body>

    <div layout:fragment="content">
        <div>
            <h2>!!Booked Tickets!!</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Seat</th>
                    <th>Price</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.user.name}"></td>
                    <td th:text="${ticket.seat}"></td>
                    <td th:text="${ticket.price}"></td>
                    <td th:text="${ticket.plannedEvent.event.name}"></td>
                </tr>
            </tbody>

        </table>

        <a th:if="${user}" href="#" th:href="@{/tickets/pdf(userid=${user.id})}" th:text="'Pdf report'"/>
        <a th:if="${plannedEvent}" href="#" th:href="@{/tickets/book(peventid=${plannedEvent.id})}" th:text="'Book'"/><br/>

        <br/>
        <a href="#" th:href="@{/}" th:text="'Main'"/>
    </div>

</body>
</html>