<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Upload Users and Events</title>
    <style>
        table {
            border: none;
        }
        th {
            border: none;
        }
        td {
            border: none;
        }
    </style>
</head>
<body>

    <div layout:fragment="content">
        <h2>Upload Users and Events (*.json)</h2>

        <div th:if="${message}">
            <h4 th:text="${message}"/>
        </div>

        <div>
            <form method="POST" enctype="multipart/form-data" th:action="@{upload}" action="upload">
                <table>
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" name="file" /></td>
                    </tr>
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" name="file" /></td>
                    </tr>
                    <tr>
                        <td>File to upload:</td>
                        <td><input type="file" name="file" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="btn btn-primary" type="submit" value="Upload" /></td>
                    </tr>
                </table>
            </form>
        </div>

        <br/>
        <a href="#" th:href="@{/}" th:text="'Main'"/>
    </div>

</body>
</html>