<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>Tickets</title>
</head>
<body>

    <div layout:fragment="content">
        <div>
            <h2>!!Users!!</h2>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Tickets</th>
                    <th>Money account</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.birthDay}"></td>
                    <td><a href="#" th:href="@{/tickets(userid=${user.id})}" th:text="'Booked tickets'"/></td>
                    <td><a href="#" th:href="@{/user/account(userid=${user.id})}" th:text="'Modify'"/></td>
                </tr>
            </tbody>

        </table>

        <br/>
        <a href="#" th:href="@{/}" th:text="'Main'"/>
    </div>

</body>
</html>